@use "../../styles/partials/fonts";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.warehouse {
    border-bottom: 1px solid $Cloud;
    padding: 0 1.5rem;
    display: flex;
    color: #13182C;
    font-size: .8125rem;
    line-height: 1.25rem;
    background-color: #fff;

    @include tablet {
        align-items: center;
        justify-content: space-between;
    }

    &:hover &__arrow-icon{
        transition: 0.2s;
        transform: translateX(4px);
    }

    &__col-1 { 
        display: flex;
        width: 50%;
        padding: 1.5rem 0;
        margin-right: 0.5rem;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
            width: 45%;
            align-items: center;
            margin-right: 0rem;
            padding: 1rem 0;
        }
      
    }
    &__col-2 { 
        display: flex;
        margin-left: 0.5rem;
        width: 50%;
        padding: 1.5rem 0;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
            width: 45%;
            align-items: center;
            margin-left: 0;
            padding: 1rem 0;
        }
      
      
    }
    &__id-container{
        margin-bottom: 1rem;
        @include tablet{

            width: 212px;
            margin-bottom: 0rem;



        }
    }
    &__name-container{
        margin-bottom: 1rem;
        @include tablet{
            width: 50%;
            margin-bottom: 0rem;

        }
    }
    &__address-container{
        margin-bottom: 1.1875rem;
        @include tablet{
            width: 50%;
            margin-bottom: 0rem;


        }
    }
    &__info-container{
        margin-bottom: 1.1875rem;
        @include tablet{
            width: 50%;
            align-items: center;
            margin-bottom: 0;

        }
    }


    &__actions-container{
        display: none;
        @include tablet {
            width: 10%;
            display: flex;
            justify-content: flex-end;
        }
    }
    &__label{
        color: #5C667E;
        font-size: 11px;
        @include tablet{
            display: none;
        }
    }
    &__edit{
        display: flex;
        justify-content:flex-end;
        @include tablet{
            display: none;
        }
    }
    &__delete-img{
        max-width: 24px;
        max-height: 24px;
        @include tablet {
            display: none;
        }
    }
    &__edit-img{
        max-width: 24px;
        max-height: 24px;
        fill: black;
    }
    &__delete--tablet{
        max-width: 24px;
        max-height: 24px;
        margin-right: 1rem;
  
    }

}

img {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #2E66E5;
    font-size: .875rem;
    font-weight: 600;
}

p {
    margin: 0;
}