@use "../../styles/partials/fonts";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.edit-invitm-page {
  max-width: 64rem;
  margin: 0 auto;

  .droplist {
    width: 100%;
    border-radius: 1rem;
    padding: 0.5rem;
    border-color: $Cloud;
  }
  .item-desc {
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    outline: none;
    border-color: $Cloud;
    resize: none;
    font-family: $body-font;
  }

  .item-stock {
    padding-top: 0.5rem;
    display: inline-block;
    flex-direction: row;
    align-items: center;
    height: 1rem;

    .stock-input {
      padding-left: 1rem;
      padding-right: 2rem;
      width: 1rem;
      height: 1rem;
      margin-right: 0.5rem;
    }

    .nostock-input {
      padding-left: 1rem;
      width: 1rem;
      height: 1rem;
      margin-right: 0.5rem;
    }
    .nostock-label {
      padding-right: 3rem;
      color: $Cloud;
      &__selected {
        padding-right: 3rem;
        color: black;
      }
    }

    .instock-label {
      padding-right: 3rem;
      color: $Cloud;
      &__selected {
        padding-right: 3rem;
        color: black;
      }
    }
  }

  &__container {
    border-radius: 0.25rem;
    margin: 1rem;
    margin-top: -4rem;
    background-color: $White;
    box-shadow: 0px 2px 5px 0px #13182c1a;
    overflow: hidden;

    @include tablet {
      margin-top: -6rem;
    }
  }

  &__header-container {
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    border-bottom: 1px solid $Cloud;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  &__data-container {
    width: 100%;

    @include tablet {
      display: flex;
      flex-direction: row;
      padding: 1.5rem 2rem 2rem 2rem;
    }
  }

  &__details-container {
    width: 100%;
    padding: 1rem 1.5rem 1.5rem 1.5rem;

    @include tablet {
      border-right: 1px solid $Cloud;
      padding: 0 1.5rem 0 0;
    }
  }

  &__contact-container {
    width: 100%;
    border-top: 1px solid $Cloud;
    padding: 1rem 1.5rem 1.5rem 1.5rem;

    @include tablet {
      border: none;
      padding: 0 0 0 1.5rem;
    }
  }

  &__button-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    background-color: $Light-Grey;

    @include tablet {
      justify-content: end;
    }
  }
}
