@font-face {
    font-family: "Titillium Web";
    src: url("../assets/fonts/woff2/AvenirNextLTPro-Regular.woff2") format("woff2"), 
        url("../assets/fonts/woff/AvenirNextLTPro-Regular.woff") format("woff");
    font-weight: normal;
    font-style: 400;

  }