@font-face {
    font-family: "Titillium Web";
    src: url("../../assets/fonts/regular/TitilliumWeb-Regular.woff") format("woff"), 
        url("../../assets/fonts/regular/TitilliumWeb-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}


  @font-face {
    font-family: "Titillium Web";
    src: url("../../assets/fonts/semi-bold/TitilliumWeb-SemiBold.woff") format("woff"), 
        url("../../assets/fonts/semi-bold/TitilliumWeb-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;

  }