$tablet-breakpoint: 48rem; // 768px
$desktop-breakpoint: 80rem; // 1280px
$body-font: "Titillium Web";
$Instock-Black:#13182C;
$Slate: #5C667E;
$Graphite: #232940;
$Green: #158463;
$Instock-Indigo: #2E66E5;
$Cloud: #BDC5D5;
$Light-Grey: #F7F8F9;
$Red: #C94515;
$White: #FFFFFF;