@use "../../styles/partials/fonts";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 41, 64, 0.5);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  
    &__container {
      background-color: $White;
      width: 100%;
      padding: 24px;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      text-align: left;
        height: 100vh;
      @include tablet {
        max-height: 270px;
        width: 45%;
        max-width: 600px;

      }
      @include desktop {
        max-height: 216px;
  
      }
  
      &__close {
        cursor: pointer;
        width: 15px;
        height: 15px;
        justify-content: flex-end;

      }
  
      &__title {
        text-align: left;
        display: flex;
        justify-content: space-between;
      }
  
      &__heading {
        margin-top: 0;
        margin-bottom: 16px;
      }
  
      &__body {
        text-align: left;
      }
  
      &__footer {
        margin-top: 24px;
        display: flex;

        align-items: center;
        justify-content: flex-end;

      }
  
        &__cancel-button {
          background-color: $White;
          border: 1px solid $Cloud;
          border-radius: 4px;
          padding: 8px 16px;
          margin-right: 16px;
          border-radius: 1.125rem;
          cursor: pointer;
  
          &__text {
            margin: 0;
          }
        }
  
        &__delete-button {
          background-color: $Red;
          border: none;
          border-radius: 4px;
          padding: 8px 16px;
          cursor: pointer;
          border-radius: 1.125rem;
  
          &__text {
            margin: 0;
            color: $White;
          }
        }
      }
    }
  
  