@use "../../styles/partials/fonts";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;



.modal {
   background-color: white;

   &__container {
    display: flex;
    flex-direction: column;
    // position: absolute;
    //  top: 100px;
    // left: 50%;
    // justify-content: center;

    &__close {
        height: 1.2rem;
    }
}
}