// @use "../../styles/partials/fonts";
// @use "../../styles/partials/variables" as *;
// @use "../../styles/partials/mixins" as *;

.header {
    height: 12.5rem;
    padding: 1.5rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;

    // @include tablet {
    //     flex-direction: row;
    // }

    &__logo {
        height: 1.75rem;
    }

    &__nav-list {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    &__nav-link {
        height: 2.25rem;
        border-radius: 1.125rem;
    }
}