@use "../../styles/partials/fonts";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.form-error{
    display: none;

    @include tablet {
        position: absolute;
    }
    
    &--display {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__icon {
        width: 1rem;
        margin-right: .375rem;
    }

    &__text {
        font-family: 'Titillium Web', sans-serif;
        font-size: .75rem;
        color: $Red;
    }
}